* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#main-header {
  height: 15vh;
  width: auto;
  background-color: #519872;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
}

#main-background {
  width: auto;
  height: 100vh;
  background-color: #AFD4C0;
  position: float;
  display: flex;
  justify-content: center;
  align-content: space-around;

}

.dashboard-content {
  width: 70vh;
  height: 100vh;
  background-color: #e5f4ec;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  

}

#houses-header {
  color: #3b5249;
  
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.house-container {
  background: #dedede;
  width: 90%;
  height: 25%;
}

.address-container {
  display: flex;
  flex-direction: row;

}
input {
  margin: 5px;
}
.next-button {
  width: 12%;
  height: 5%;
}
